name: Tests
on: push
jobs:
  actions:
    runs-on: ubuntu-latest
    steps:
    - name: Copia repositorio
      uses: actions/checkout@v2
    - name: Construye imagen
      run: docker build --tag islasgeci .
    - name: Make submissions
      run: docker run --rm --volume ${PWD}:/workdir islasgeci make submissions
    - name: Evaluate a directory
      run: docker run --rm --volume ${PWD}/pollos_petrel:/submissions islasgeci/common_task_framework:latest geci-ctf evaluate examples/pollos_petrel/complete_dataset.csv /submissions --directory
    - name: Verifica el formato
      run: docker run islasgeci make check
    - name: Corre pruebas y evalúa cobertura
      run: docker run islasgeci make coverage
    - name: Evalúa resistencia a mutaciones
      run: docker run islasgeci make mutants

